html{
    background-color: red;
}
body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	margin: 20px;
	background-color:rgba(0,0,0, 0.6);
	border-radius: 30px;
        background-image: url("images/background.jpg");
}
h1{
    color: red;
}
